<div class="clearfix">
    <a href="/payments/add" class="focus-ring py-1 px-2 text-decoration-none border rounded-2 float-end">
        Add
    </a>
</div>

<div class="table-responsive">
    <table class="table caption-top mb-5 table-hover">
        <caption><%= title %></caption>
        <thead>
        <tr>
            <th scope="col">Reservation id</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment Date</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% items.forEach(item => { %>
            <tr>
                <td><a href="/reservations/<%= item.reservation_id %>"><%= item.reservation_id %></a></td>
                <td><%= item.amount %></td>
                <td><%= new Intl.DateTimeFormat('en-GB', {
                        year: 'numeric',
                        month: 'long',
                        day: '2-digit'
                    }).format(new Date(item.payment_date)) %></td>
                <td class="text-center">
                    <a href="/payments/<%= item.payment_id %>" class="btn btn-sm btn-outline-primary">Edit</a>
                    <form action="/payments/<%= item.payment_id %>/delete" method="POST" class="d-inline">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
