<table class="table caption-top mb-5">
    <caption><%= title %></caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Availability</th>
    </tr>
    </thead>
    <tbody>
    <% items.forEach(item => { %>
        <tr>
            <th scope="row"><%= item.room_id %></th>
            <td><%= item.room_number %></td>
            <td><%= item.room_type %></td>
            <td><%= item.price %></td>
            <td><%= item.availability %></td>
        </tr>
    <% }); %>
    </tbody>
</table>