<table class="table caption-top mb-5">
    <caption><%= title %></caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <% items.forEach(item => { %>
        <tr>
            <th scope="row"><%= item.service_id %></th>
            <td><%= item.service_name %></td>
            <td><%= item.description %></td>
            <td><%= item.price %></td>
        </tr>
    <% }); %>
    </tbody>
</table>